html{
	width: 100%;
	height: 100%;
}

body {
	background-color: b2b2b2;
	color: black;
}

a {
	color: 7C7C7C;
}

#BarSideLeft {
	position: fixed;
	left: 0px;
	top: 0px;
    width: 300px;
	height: 100%;
    background-color: #636053;
	min-height: 100%;
	z-index: 1;
}

#ImgLogoQuestBook {
    display: block;
    margin-left: auto;
    margin-right: auto;
	cursor: default;
}

#BarTitle {
    background-color: #8e8a79;
}

#BarTitleQuestBook {
	font-family: FontTitle;
	position: relative;
	text-align: center;
	font-size: 30px;
	color: #ffcc00;
	cursor: default;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#BarTitleAPI {
	font-family: BarText;
	position: relative;
	text-align: center;
	font-size: 15px;
	top: -10px;
	color: #ffcc00;
	cursor: default;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#BarLinks {
	width: 100%;
	height: 50px;
}

.BarLinkBase {
	width: calc(100% + 10px);
	height: 20px;
	background-color: #827C64;
	color: #54504A;
	text-align: center;
	font-family: BarText;
	font-size: 15px;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 3px;
	cursor:pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.BarText {
	text-align: center;
	font-family: BarText;
	font-size: 15px;
	color: #bfbbac;
}

.BarTextVersion {
	text-align: center;
	font-family: BarText;
	font-size: 10px;
	color: #969387;
}

.BodyText {
	position: relative;
	left: 315px;
	width: calc(90% - 300px);
	font-family: BarText;
}


