html{
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

body {
	background-color: b2b2b2;
	color: b2b2b2;
}

input {
    padding: 5px;
    border: solid 0px;
	/*border-color: #47463E;*/
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #666358; 
}

#BarSideLeft {
	position: absolute;
	left: 0px;
	top: 0px;
    width: 300px;
	height: 100%;
    background-color: #636053;
	min-height: 700px;
	z-index: 1;
}

#BarSideRight {
	position: absolute;
	left: 1320px;
	top: 0px;
    width: calc(100% - 1320px);
	height: 100%;
    background-color: #636053;
	min-height: 700px;
	z-index: 1;
}

.BarLinkBase {
	width: calc(100% + 10px);
	height: 20px;
	background-color: #827C64;
	color: #54504A;
	text-align: center;
	font-family: BarText;
	font-size: 15px;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 3px;
	cursor:pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#BarLinks {
	width: 100%;
	height: 30px;
}

#BarLogin {
	display: none;
	text-align: center;
	height:72px;
	line-height: 42px;
    background-color: #757264;
}

#ButtonShowLogin {
	margin: 5px;
	position: fixed;
	cursor: pointer;
}

#BarTitle {
    background-color: #8e8a79;
}

#Title {
	font-family: FontTitle;
	position: relative;
	text-align: center;
	font-size: 30px;
	color: #ffcc00;
	cursor: default;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.BarText {
	text-align: center;
	font-family: BarText;
	font-size: 15px;
	color: #bfbbac;
}

.BarTextVersion {
	text-align: center;
	font-family: BarText;
	font-size: 10px;
	color: #969387;
}

.BarPlayer {
	position: absolute;
	top: 20px;
    width: 300px;
	height: 96%;
	min-height: 300px;
    background-color: #a5a5a5;
	color: #000;
}

.BarPlayerInfo {
    width: 280px;
	height: 75px;
	margin: 10px;
    background-color: #8783a0;
	font-family: BarText;
	text-align: center;
}

.BarPlayerInfoName {
	display: inline;
	position: relative;
	top: 10px;
	font-size: 35px;
}

.BarPlayerInfoQuests {
	display: inline;
	position: relative;
	top: 11px;
	font-size: 12px;
	color: #504E5E;
}

.BarPlayerScore {
    width: 280px;
	height: 30px;
	margin: 10px;
    background-color: #9695a0;
	font-family: ScoreText;
	font-size: 25px;
	text-align: center;
	color: #504d66;
}

.BarPlayerQuest {
    width: 280px;
	height: 75px;
	margin: 10px;
	font-family: BarText;
    background-color: #b7b6b0;
	text-align: left;
}

.BarPlayerQuestTitle {
	display: inline;
	position: relative;
	top: -70px;
	left: 80px;
	font-family: BarText;
	text-align: left;
	font-size: 19px;
}

.BarPlayerQuestScore {
	position: relative;
	font-family: ScoreText;
	text-align: right;
	font-size: 18px;
	left: -10px;
	top: -70px;
	color: #504d66;
}

.BarPlayerQuestRank {
	position: relative;
	top: -130px;
	left: 90px;
	font-family: BarText;
	text-align: left;
	font-size: 13px;
	color: #504d66;
}

.BarPlayerQuestScrollDown {
	position: absolute;
	/*top: 660px;*/
    width: 280px;
	height: 15px;
	margin: 10px;
	font-family: BarText;
	font-size: 12px;
    background-color: #999791;
	text-align: center;
	display: none;
	cursor:pointer;
	
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.BarPlayerQuestScrollUp{
    width: 280;
	height: 15px;
	margin: 10px;
	font-family: BarText;
	font-size: 12px;
    background-color: #999791;
	text-align: center;
	display: none;
	cursor:pointer;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ObjCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ImgQuest  {
	width: 56px;
	height: 56px;
	margin: 10px;
	margin-right: 230px;
}

#ButtonTwitter {
	position: absolute;
	left: 10px;
	top: 30px;
	width: 32px;
	height: 32px;
}

#ButtonGitHub{
	position: absolute;
	left: 10px;
	top: 72px;
	width: 32px;
	height: 32px;
}

#ScoreBoard {
	color: 939085;
}

.ScoreBoardLine{
	display: inline;
	color: inherit;
	cursor: pointer;
}

.ScoreBoardLine:hover{
	display: inline;
	color: fff;
}

#BarPlayerScrollCounter {
	display: none;
}

#LoggedUser {
	position: relative;
	left: -16px;
	font-family: BarText;
	font-size: 15px;
	color: #bfbbac;
}

#LoginUserInput {
	float: right;
	position: relative;
	top: 9px;
	margin-bottom: 8px;
}

#LoginPasswordInput {
	float: right;
	position: relative;
	top: 9px;
}

#ArrowLeft {
	position: fixed;
	left: 300px;
	top: calc(95% + 5px);
	cursor: pointer;
}

#ArrowRight {
	position: fixed;
	left: 1290px;
	top: calc(95% + 5px);
	cursor: pointer;
}
